body{
	color: #1a1a1a;
}

.content{
    margin: 10px auto;
	width: 70%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid #ededed;
}

footer{
	border-top: 1px solid #ededed;
}

.nav-links{

}