body{
	color: #1a1a1a;
}

.content{
	margin: auto 10px;
	width: 70%;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid #ededed;
}

footer{
	border-top: 1px solid #ededed;
}

.nav-links{

}