{{ partial "header.html" . }}

<div class="content">
		<h1>Projects list</h1>
		<p>We believe in developers and here we wanted to share some stunning projects created by community members of Monero. <a href="https://github.com/serhack/getmonero.dev/issues">Want to add yours?</a>
		<!-- Ranges through /content/projects/*.md -->
	    {{ range .Pages }}
	    	<div class="project">
	    		<a href="/projects/{{.Title}}">{{ .Title }}</a>
	    		<p>{{ .Params.description }}</p>
	    	</div>
	    {{ end }}
</div>

{{ partial "footer.html" . }}