<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Monero Developers Hub</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>
 
  <body>
     <style>
      body{
  	   background-color: #160ca7;
      font-family: 'Roboto Mono', monospace;
	     color: #fdfdfd;
}

.cent{
  text-align:center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#x{
	background-color: white;
}

h1{
  font-size:64px;
}

h2{
  font-size: 48px;
}
    </style>
    <div class="cent">
      <h1>Monero meets developers</h1>
      <h2>and developers meet Monero.</h2>
    <p>Coming soon</p>
	</div>

  </body>
</html>
